{% extends 'adminhome.html' %}

{% block logo %}
<h1>
	<a href="#">
		Neurology At Home<br>
		Admin Panel
	</a>
</h1>
{% endblock %}

	{% block menu %}
		<ul>
			<li>
				<a href = "{{curl}}adminhome" >Admin Home</a>
			</li>

			<li>
				<a href = "{{curl}}viewuser/" >View Users</a>
			</li>

			<li>
				<a href = "{{curl}}manageuser/" >Manage Users</a>
			</li>

			<li class = "active">
				<a href = "{{curl}}answerquery/?userid={{userid}}" >Answer Query</a>
            </li>

			<li>
				<a href = {{curl}}login/ >Logout</a>
			</li>
		</ul>
	{% endblock %}

{% block welcome %}

<center>
	<h2>Welcome To Neurology At Home</h2>
	<h2>Admin - Answer Query Panel</h2>
</center>

<br>

{% if userid == None %}

<p>Some Error Occured. Please login again</p>

{% else %}

<form method = "POST" action = {{curl}}answerquery/?userid={{userid}}>
	{% csrf_token %}
	<table cellspacing="10" cellpadding="10" width = "100%">


		<tr>
			<td align = "left" colspan = "2"><b>{{userQuerySolution.0.0}}</b></td>
		</tr>

		<tr>
			<td align = "left" colspan="2">
				<textarea cols="5" rows="5" name="solution" placeholder="Describe your Solution briefly..." required></textarea>
			</td>
		</tr>

		<tr>
			<td align = "left" width = "100%">
				<input type="text" name="email" placeholder="Confirm your email..." required />
			</td>
			<td align = "right" width="100%">
				<input type="submit" value="Submit Query" />
			</td>
		</tr>
	</table>
</form>

{% endif %}

{% endblock %}
