{% extends 'userhome.html' %}

{% block logo %}
<h1>
	<a href="#">
		Neurology At Home<br>
		User Panel
	</a>
</h1>
{% endblock %}

	{% block menu %}	
		<ul>
			<li>
				<a href = "{{curl}}userhome/?userid={{userid}}" >User Home</a>
			</li>

			<li>
				<a href = "{{curl}}askquery/?userid={{userid}}" >Ask Query</a>
			</li>

			<li class = "active">
				<a href = "{{curl}}checkresult/?userid={{userid}}" >Check Result</a>
			</li>
            
			<li>
				<a href = "{{curl}}login/" >Logout</a>
			</li>
		</ul>
	{% endblock %}	

{% block welcome %}
<center>	
<h1>Welcome To Neurology At Home</h1>
<h1>User Panel Check Result Page</h1>
</center>

<br>
{{userQuerySolution}}
<br>

<table cellspacing="5" cellpadding="5" width = "100%">
	<tr>
		<th align = "left" width = "50%"><b>User Query</b></th>
		<th align = "left" width = "50%"><b>Solution or prediction given by Admin</b></th>
	</tr>

	<tr>
		<td align = "left">
			<textarea value="{{userQuerySolution.0.0}}" ></textarea>
		</td>
		<td align = "left">
			<input type="textbox" value="{{userQuerySolution.0.2}}" ></textarea>
		</td>
	</tr>
</table>

{% endblock %}	