{% extends 'adminhome.html' %}

{% block logo %}
<h1>
	<a href="#">
		Neurology At Home<br>
		Admin Panel
	</a>
</h1>
{% endblock %}

	{% block menu %}	
		<ul>
			<li>
				<a href = "{{curl}}adminhome" >Admin Home</a>
			</li>

			<li>
				<a href = "{{curl}}viewuser/" >View Users</a>
			</li>

			<li class = "active">
				<a href = "{{curl}}manageuser/" >Manage Users</a>
			</li>
            
			<li>
				<a href = {{curl}}login/ >Logout</a>
			</li>
		</ul>
	{% endblock %}	

{% block welcome %}
<center>	
<h1>Welcome To Neurology At Home</h1>
<h1>Admin - Manage User Panel</h1>
</center>
{% endblock %}	